.search-container {
  border-radius: 50px;
  border: 2px solid white;
  width: 80%;
  height: 40px;
  margin-left: 28px;
  margin-top: 20px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 90%;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}

.input-field {
  width: 76%;
  height: 35px;
  display: inline-block;
  border: none;
  color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
