/* Side Navbar Styling */

.sidenav_container {
  width: 80px;
  background-color: #2f3436 !important;
}
.sideInfoBar {
  flex: 0 0 400px !important;
  min-width: none !important;
  max-width: none !important;
  height: 100vh;
  color: white;
  background-color: #40464a !important;
}
.sideNav_icons {
  background-color: #2f3436 !important;
  height: 100vh;
  color: #fff;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 calc(50% - 30px / 2);
  margin-top: 20px;
}
.ant-menu-inline .ant-menu-item {
  margin-top: 20px;
}
.main_collapse_icon {
  position: absolute;
  z-index: 1;
}
.map_container {
  width: 100%;
}
.navbar__icon {
  font-size: 34px;
  color: white;
  margin-top: 0px;
}
.navbar__icon i:hover {
  color: #1a8a3a;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #2f3436 !important;
}
.ant-menu-vertical .ant-menu-item {
  height: none;
}
.main_collapse_icon {
  color: #fff;
  width: 20px;
  margin-top: 5px;
  background-color: #2f3436;
}
